nav{display:none}
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    #navbar-container{
        position:fixed;
        padding-left:25vw;
        padding-top:1vh;
    }
}
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1500px)
and (-webkit-min-device-pixel-ratio: 1) {
    #navbar-container{
        position:fixed;
        padding-left:20vw;
        padding-top:1vh;
    }
}


/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 3000px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

}

/*Phone Nav*/
@media screen
and (max-width: 1000px) {
    a
    {
        text-decoration: none !important;
        color: #232323 !important;
        transition: color 0.3s ease !important;
        z-index:100;
    }

    #navbar-container{display:none;}
    nav{display:block;}
    #menuToggle
    {
        background:lightyellow;
        padding:4px;
        padding-top:7px;
        border-radius:5px;
        display: block;
        position: relative;
        top: 30px;
        left: 20px;
        width:41px;
        z-index: 10;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input
    {
        display: block;
        width: 10vw;
        height: 10vh;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 11; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: black;
        border-radius: 3px;

        z-index: 10;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 70vw;
        height:110vh;
        margin: -100px 0 0 -70px;
        padding: 40px;
        padding-top: 125px;

        background:lightyellow;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 1.5em;
    }

    /*
     * And let's fade it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
}
