@media only screen and (max-width: 1300px) {
    #concert-text {
        margin-top: -110px;
    }
    
    #festival-image {
        margin-top: -150px;
    }
    
    #faq-image {
        margin-top:-150px;
    }
}

@media only screen and (max-width: 850px) {
    #concert-image {
        width: 40%;
        margin: auto;
        margin-top: -10%;
    }
    
    #concert-text {
        margin: auto;
        margin-top: 0px;
        width: 90%;
    }
    
    #film-image {
        display: none;
    }
    
    #mobile-film-image {
        display: block;
        width: 30%;
        margin: auto;
        clear: both;
    }
    
    #film-text {
        margin: auto;
        width: 90%;
    }
    
    #mobile-festival-image {
        display: block;
        width: 40%;
        margin: auto;
        margin-top: 30px;
    }
    
    #festival-image{
        display: none;
    }
    
    #festival-text{
        margin: auto;
        width: 90%;
    }
    
    #mobile-faq-image {
        display: block;
        width: 40%;
        margin: auto;
        margin-top: 30x;
        background: transparent;
    }
    
    #faq-image {
        display: none;
    }
    
    #faq-text{
        margin: auto;
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    #concert-image  {
        width: 70%;
        margin-top: -15%;
    }
    
    #concert-text{
        width: 90%;
    }
    
    #mobile-film-image {
        width: 50%;
        margin-top: 50px;
    }
    
    #film-text {
        width: 90%;
    }
    
    #mobile-festival-image{
        width: 70%;
        margin-top: 50px;
    }
    
    #festival-text{
        width: 90%;
    }
    
    #mobile-faq-image{
        width: 70%;
        margin-top:50x;
    }
    
    #faq-text{
        width: 90%;
    }
    
    
}