@media only screen and (max-width: 1300px) {
    .container {
        width: 100% !important;
    }
    #concert-text {
        margin-top: -110px;
    }
    
    #festival-image {
        margin-top: -150px;
    }
    
    #faq-image {
        margin-top:-150px;
    }
}

@media only screen and (max-width: 850px) {
    #landing-header {
        height: 50vh;
    }
    #logo {
        padding-top: 20px;
    }
    .container {
        width: 100% !important;
    }
    #concert-image {
        width: 80%;
        margin: auto;
    }
    #mobile-concert-image {
        display: block;
        margin: auto;
        width: 35%;
    }
    
    #concert-text {
        margin: auto;
        margin-top: 0px;
        width: 90%;
    }
    
    #film-image {
        display: none;
    }
    
    #mobile-film-image {
        display: block;
        width: 30%;
        margin: auto;
        clear: both;
    }
    
    #film-text {
        margin: auto;
        width: 90%;
        margin-top: 20px;
    }
    
    #mobile-festival-image {
        display: block;
        width: 30%;
        margin: auto;
        margin-top: 30px;
    }
    
    #festival-image{
        display: none;
    }
    
    #festival-text{
        margin: auto;
        width: 90%;
    }
    
    #mobile-faq-image {
        display: block;
        width: 40%;
        margin: auto;
        margin-top: 30x;
        background: transparent;
    }
    
    #faq-image {
        display: none;
    }
    
    #faq-text{
        margin: auto;
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    #landing-header {
        height: auto;
    }
    #logo {
        width: 90%;
    }
    #concert-image  {
        width: 60%;
    }
    
    #concert-text{
        width: 90%;
    }
    
    #mobile-film-image {
        width: 35%;
        margin-top: 50px;
    }
    
    #film-text {
        width: 90%;
    }
    
    #mobile-festival-image{
        width: 55%;
        margin-top: 50px;
    }
    
    #festival-text{
        width: 90%;
    }
    
    #mobile-faq-image{
        width: 50%;
        margin-top:50x;
    }
    
    #faq-text{
        width: 90%;
    }
    
    
}