* {
    font-family: Asap;
}

html{overflow-x:hidden;font-family: 'Asap', sans-serif;}
.section{
    width:99vw;
    height:90vh;
    /*this is temporary, only to show where the sections are*/
    border:solid black 2px;
}
#navbar *{

}


/*SPONSORS SECTION*/
#sponsors h2 {
    text-align: center;
    margin-bottom: 50px;
}

#sponsors .row {
    margin-bottom: 50px;
}

#sponsors img {
    width: 100%;
}
/*Sponsor Media Queries*/
@media only screen and (max-width: 576px) {
    #sponsors img {
        margin-bottom: 50px;
    }
}