* {
    font-family: Asap;
}

html{overflow-x:hidden;font-family: 'Asap', sans-serif;}
.section{
    width:99vw;
    height:90vh;
    /*this is temporary, only to show where the sections are*/
    border:solid black 2px;
}
#navbar *{

}


/*SPONSORS SECTION*/
#sponsors h2 {
    text-align: center;
}