* {
    font-family: Asap;
}

html{overflow-x:hidden;font-family: 'Asap', sans-serif;}
body{
    background-color:#B6EAFC!important;
}
div{
    z-index:-1;
}
img{
    width:103%;
    height:auto;
}
.row{
    margin-top: 20px;
}
.container {
    width: 90% !important;
}
#landing-header {
    height: 90vh;
    padding-top: 0;
    background: url('assets/sweater-beats.jpg');
    background-size: cover;
    background-position: right;
}
#logo {
    display: block;
    width: 35%;
    margin: auto;
    padding-top: 100px;
    z-index:-1;
}

#navbar-container{
    display:block;
    position:fixed;
    padding-left:20vw;
    padding-top:1vh;
    z-index:10;
    background:transparent;
    overflow:visible;
}
#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*this is temporary, only to show where the sections are
    border:solid black 2px;*/
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.section.sub {
    padding:5%;
}
#about-cec-cac {
    margin-left: 0px !important;
}
#concert-image{
    background: transparent;
}
#concert-text{
    margin-top:-130px;
}
#festival-image{
    margin-top:-200px;
}
#festival-text{
    z-index: 2;
}
#faq-tab-content{
    padding-top:20px;
    z-index:2;
}
#faq-tab-list{
    z-index:2;
}
#faq-image-row{
    width:100%;
}
#faq-image{
    margin-top:-250px;
    background:transparent;
    z-index:1;
}
#mobile-concert-image {
    display: none;
}
#mobile-film-image {
    display: none;
}
#mobile-festival-image {
    display: none;
}
#mobile-faq-image {
    display: none;
}
#navbar *{
    display: inline;
    cursor:pointer;
    font-style:italic;
    font-weight:bolder;
    font-size:1.2em;
    margin-right:7vw;
    color:white;
}

/*SPONSORS SECTION*/
#sponsors {
    margin-top: 100px;
    width: 80%;
    margin: auto;
}

#sponsors h2 {
    text-align: center;
}

#sponsors .row {
    
}

#sponsors-row {
}

.image-slot {
    width: calc(100%/6);
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

.image-slot img {
    margin: auto;
    display: block;
}
/*Sponsor Media Queries*/
@media only screen and (max-width: 576px) {
    #sponsors img {
        margin-bottom: 50px;
    }
}